body {
  background: url(../img/bg.jpg) fixed center/cover;
  text-align: center;
  font-family: $font2;
  max-width: 1300px;
  margin: 0 auto;

  &:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: $black1;
    animation: animBefore 1.3s ease forwards;
    animation-delay: 0.12s;

    @keyframes animBefore {
      to {
        opacity: 0;
      }
    }
  }
}
